
  $font-family: "Roboto", sans-serif;
  $font-weight-md: 500;
  $color-grey: #EEEFF1;
  $color-light-grey: #F9F9F9;
  $color-blue: #34547A;
  $color-dark-gray: #727272;
  $color-white: #FFFFFF;
  $primary-letter-spacing: 1.5px;
  $primary-line-height:26px;
